@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.App {
  font-family: "Roboto";
  text-align: center;
  box-sizing: content-box;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}
